<!-- components/navbar.html -->
<nav class="navbar">
    <div class="nav-content">
      <div class="nav-links">
        <a href="/index.html" class="nav-brand">Shuhao Fan</a>
        <a href="/index.html">Home</a>
        <a href="/about.html">About Me</a>
        <a href="/portfolio.html">Portfolio</a>
      </div>
      <div class="search-container">
        <form class="search-form">
          <input type="search" placeholder="Search..." class="search-bar">
        </form>
      </div>
    </div>
  </nav>